Repository RUGSoftEng/2018-PyDash.io, pull requests merged in 2018-06, with the labels that each got.

#425 Backend/response time per version
  pydash/pydash_app/dashboard/aggregator/__init__.py
  pydash/pydash_app/dashboard/aggregator/aggregator_group.py
  pydash/pydash_app/dashboard/aggregator/statistics.py
  pydash/pydash_app/dashboard/endpoint.py
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/dashboards.py
  pydash/pydash_web/controller/execution_times_per_version.py
Labels: back-end

#431 Fixes fetching in terms of the task scheduler part.
  pydash/pydash_app/__init__.py
  pydash/pydash_app/dashboard/services/fetching.py
Labels: back-end

#432 Fixes fetch_aggregator_per_timeslice error: "TypeError: unhashable type 'dict'"
  pydash/pydash_web/controller/dashboards.py
Labels: back-end

#419 Overview page refreshes after adding a new dashboard
  pydash-front/src/authenticated_app/AuthenticatedApp.js
  pydash-front/src/authenticated_app/AuthenticatedRoutes.js
  pydash-front/src/authenticated_app/overview/AddDashboardDialog.js
  pydash-front/src/authenticated_app/overview/OverviewPage.js
Labels: front-end

#428 Backend/endpoint execution times boxplot & refactoring
  pydash/pydash_app/dashboard/endpoint.py
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/endpoint_boxplots.py
  pydash/pydash_web/controller/execution_times_boxplots.py
  pydash/pydash_web/controller/execution_times_per_version.py
  pydash/pydash_web/controller/utils.py
Labels: back-end

#438 Fixes visits graphs
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/UniqueVisitorsPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/VisitsPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/statistics_utils.js
  pydash-front/src/authenticated_app/endpoint/EndpointsTable.js
  pydash-front/src/utils.js
  pydash/pydash_web/controller/dashboards.py
Labels: bug, front-end

#445 Production fixes
  Pipfile
  Pipfile.lock
  build_and_run.sh
Labels: back-end

#448 Changed email validator
  pydash/pydash_app/user/entity.py
  pydash/pydash_web/controller/change_settings.py
  pydash/pydash_web/controller/register_user.py
Labels: back-end

#449 Added and updated documentation.
  pydash/pydash.py
  pydash/pydash_app/__init__.py
  pydash/pydash_app/dashboard/aggregator/__init__.py
  pydash/pydash_app/dashboard/aggregator/statistics.py
  pydash/pydash_app/dashboard/endpoint.py
  pydash/pydash_app/dashboard/endpoint_call.py
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_app/dashboard/repository.py
  pydash/pydash_app/dashboard/services/__init__.py
  pydash/pydash_app/dashboard/services/seeding.py
  pydash/pydash_app/user/__init__.py
  pydash/pydash_app/user/repository.py
  pydash/pydash_app/user/services/pruning.py
  pydash/pydash_app/user/verification.py
  pydash/pydash_app/user/verification_code.py
  pydash/pydash_database/__init__.py
  pydash/pydash_web/controller/dashboards.py
  pydash/pydash_web/controller/execution_times_boxplots.py
  pydash/pydash_web/controller/register_dashboard.py
  pydash/pydash_web/controller/visitor_heatmap.py
Labels: back-end, documentation

#450 Backend/dashboards route fix
  pydash/pydash_app/dashboard/aggregator/__init__.py
  pydash/pydash_app/dashboard/aggregator/aggregator_group.py
  pydash/pydash_app/dashboard/aggregator/statistics.py
  pydash/pydash_app/dashboard/endpoint.py
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/dashboard.py
  pydash/pydash_web/controller/dashboard_statistic.py
  pydash/pydash_web/controller/dashboards.py
Labels: back-end

#451 Red Warning Text, Responsive graph sizes, Dashboard adding information text
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
  pydash-front/src/authenticated_app/overview/AddDashboardDialog.js
  pydash-front/src/index.css
Labels: front-end

#455 Password message when not the same. Fixes #436
  pydash-front/src/registration/RegistrationPage.js
Labels: front-end

#457 Production fixes 2
  build_and_run.sh
Labels: back-end
