Repository RUGSoftEng/2018-PyDash.io, pull requests merged in 2018-05, with the labels that each got.

#223 Redirects on login/logout, protects authenticated pages.
  pydash-front/src/App.js
  pydash-front/src/app/main_interface/Logout.js
  pydash-front/src/app/main_interface/MainInterface.js
  pydash-front/src/app/main_interface/Sidebar.js
  pydash-front/src/index.js
  pydash-front/src/login/Login.js
Labels: front-end

#224 Shows message on overview page if no dashboards yet
  pydash-front/src/app/overview/DashboardList.js
Labels: front-end

#252 Frontend/responsive graphs
  pydash-front/package.json
  pydash-front/src/authenticated_app/dashboard/statistics_page/DashboardVisitsGraph.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/EndpointExecutionTimesPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/ExecutionTimesGraph.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/UniqueVisitorsPerDayPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/VisitsPerDayPanel.js
  pydash-front/src/common/ResponsiveGraphWrapper.js
  pydash-front/src/common/WidthAwareContainer.js
  pydash-front/yarn.lock
Labels: front-end

#244 Make the login_manager.unauthorized_callback explicit
  pydash/pydash_web/__init__.py
Labels: back-end, minor

#245 Support dashboard names in the backend
  pydash/pydash_app/dashboard/dashboard.py
  pydash/pydash_app/dashboard/services/seeding.py
  pydash/pydash_web/controller/dashboards.py
Labels: back-end

#255 Replaced dashboard urls with their names
  pydash-front/src/authenticated_app/dashboard/DashboardRoutes.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
  pydash-front/src/authenticated_app/overview/DashboardList.js
Labels: front-end

#256 Added the dashboard creation form and a way to access it.
  pydash-front/src/authenticated_app/overview/AddDashboardDialog.js
  pydash-front/src/authenticated_app/overview/OverviewPage.js
Labels: front-end

#260 Explicitly return None (null) for dashboard name/error
  pydash/pydash_web/controller/dashboards.py
Labels: back-end

#262 Frontend/fix overview loading
  pydash-front/src/authenticated_app/AuthenticatedApp.js
  pydash-front/src/authenticated_app/overview/DashboardList.js
  pydash-front/src/authenticated_app/overview/OverviewPage.js
  pydash-front/src/authenticated_app/settings/SettingsPage.js
Labels: front-end

#279 Correctly update dashboard state after historical fetching
  pydash/pydash_app/dashboard/services/fetching.py
Labels: back-end, bug

#270 Backend/password requirements
  Pipfile.lock
  pydash/pydash_web/controller/register_user.py
Labels: back-end

#291 Backend/settings api
  pydash/pydash_app/user/entity.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/change_password.py
  pydash/pydash_web/controller/change_settings.py
Labels: back-end, enhancement

#285 Frontend: nodejs version
  .tool-versions
  pydash-front/yarn.lock
Labels: front-end

#282 Backend/api dashboard creation
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/register_dashboard.py
Labels: back-end, enhancement

#271 Aggregator refactor
  pydash/Pipfile
  pydash/Pipfile.lock
  pydash/pydash_app/dashboard/aggregator.py
  pydash/pydash_app/dashboard/aggregator/__init__.py
  pydash/pydash_app/dashboard/aggregator/statistics.py
Labels: back-end

#287 Implements exception handling when running tasks
  pydash/periodic_tasks/task_scheduler.py
Labels: back-end

#281 Backend/email verification
  pydash/Pipfile
  pydash/Pipfile.lock
  pydash/config.py
  pydash/pydash_app/__init__.py
  pydash/pydash_app/user/__init__.py
  pydash/pydash_app/user/entity.py
  pydash/pydash_app/user/repository.py
  pydash/pydash_app/user/services/seeding.py
  pydash/pydash_app/user/verification.py
  pydash/pydash_app/user/verification_code.py
  pydash/pydash_mail/__init__.py
  pydash/pydash_web/__init__.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/login.py
  pydash/pydash_web/controller/register_user.py
  pydash/pydash_web/controller/user_verification.py
  pydash/tests/features/sign_in.feature
  pydash/tests/features/test_sign_in.py
Labels: back-end

#293 Fixes crash when reloading dashboard detail page
  pydash-front/src/authenticated_app/AuthenticatedRoutes.js
Labels: front-end

#301 Frontend/timeslice tabs
  build_and_run.sh
  pydash-front/src/authenticated_app/AuthenticatedRoutes.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticFetcher.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/TimesliceTabs.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/UniqueVisitorsPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/UniqueVisitorsPerDayPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/VisitsGraph.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/VisitsPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/VisitsPerDayPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/statistics_utils.js
  pydash-front/src/authenticated_app/user_interface/Logout.js
Labels: front-end

#302 Password strength warning
  pydash-front/src/App.css
  pydash-front/src/login/LoginPage.js
Labels: front-end

#299 Backend/dashboard deletion api
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/dashboards.py
  pydash/pydash_web/controller/delete_dashboard.py
Labels: back-end, enhancement

#303 Registration warnings
  pydash-front/src/App.css
  pydash-front/src/registration/RegistrationPage.js
Labels: front-end

#317 Change logger.warning to .info for valid request
  pydash/pydash_web/controller/login.py
Labels: back-end, minor

#300 Backend/boxplots for endpoints
  pydash/Pipfile
  pydash/Pipfile.lock
  pydash/pydash_app/dashboard/__init__.py
  pydash/pydash_app/dashboard/aggregator/__init__.py
  pydash/pydash_app/dashboard/aggregator/statistics.py
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/endpoint_boxplots.py
Labels: back-end

#329 Fix backend breaking on settings change
  pydash/pydash_web/controller/change_settings.py
Labels: back-end, bug

#331 Moved password check to pydash_app.user
  pydash/pydash_app/user/__init__.py
  pydash/pydash_app/user/entity.py
  pydash/pydash_web/controller/change_password.py
  pydash/pydash_web/controller/endpoint_boxplots.py
  pydash/pydash_web/controller/register_user.py
Labels: back-end, bug

#327 Frontend/fix endpoint breadcrumbs
  pydash-front/src/authenticated_app/dashboard/DashboardRoutes.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
  pydash-front/src/authenticated_app/endpoint/Endpoint.js
  pydash-front/src/authenticated_app/endpoint/EndpointsTable.js
Labels: bug, front-end

#337 Updated docs
  docs/Architectural Design.pdf
  docs/Requirements Document.pdf
  docs/timetracking/s2507803-Lars Doorenbos.md
  docs/timetracking/s2534657-Jeroen Langhorst.md
  docs/timetracking/s2701650-Tom Apol.md
  docs/timetracking/s3163962-Arjan Tilstra.md
  docs/timetracking/s3167895-Koen Bolhuis.md
  docs/timetracking/s3541843-Alberto.md
Labels: documentation

#366 Refactor password requirements
  pydash/pydash_app/user/__init__.py
  pydash/pydash_app/user/entity.py
  pydash/pydash_web/controller/change_password.py
  pydash/pydash_web/controller/register_user.py
Labels: back-end, bug

#359 Backend/user registration fix
  build_and_run.sh
  pydash/config.py
  pydash/pydash_app/user/entity.py
  pydash/pydash_app/user/verification.py
  pydash/pydash_mail/__init__.py
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/register_user.py
  pydash/pydash_web/controller/user_verification.py
  pydash/start_pipenv.sh
Labels: back-end, bug

#360 Fix 'visits_per_ip' rendering bug
  pydash/pydash_app/dashboard/aggregator/__init__.py
  pydash/pydash_app/dashboard/entity.py
Labels: back-end, bug

#365 Fix password change
  pydash/pydash_web/controller/change_password.py
Labels: back-end, bug, minor

#364 Remove Flask-RESTPlus dependency
  pydash/Pipfile
  pydash/Pipfile.lock
  pydash/pydash_web/controller/change_password.py
  pydash/pydash_web/controller/change_settings.py
  pydash/pydash_web/controller/delete_user.py
  pydash/pydash_web/controller/login.py
  pydash/pydash_web/controller/register_dashboard.py
  pydash/pydash_web/controller/register_user.py
  pydash/pydash_web/controller/user_verification.py
Labels: back-end

#368 Backend/aggregator group
  pydash/pydash_app/dashboard/aggregator/aggregator_group.py
  pydash/pydash_app/dashboard/endpoint.py
  pydash/pydash_app/dashboard/entity.py
Labels: back-end

#377 Backend/api user heatmap
  pydash/pydash_web/api_routes.py
  pydash/pydash_web/controller/__init__.py
  pydash/pydash_web/controller/endpoint_boxplots.py
  pydash/pydash_web/controller/visitor_heatmap.py
Labels: back-end

#374 Empty notice when no endpoints
  pydash-front/src/authenticated_app/endpoint/EndpointsTable.js
Labels: front-end

#372 Makes PyDash logo clickable
  pydash-front/src/authenticated_app/user_interface/UserInterface.js
Labels: front-end

#375 Changes barchart label padding.
  pydash-front/src/authenticated_app/dashboard/statistics_page/ExecutionTimesGraph.js
Labels: front-end

#381 Email verification page in frontend
  pydash-front/src/App.js
  pydash-front/src/Routes.js
  pydash-front/src/registration/VerificationPage.js
  pydash/pydash_web/controller/register_user.py
Labels: enhancement, front-end

#384 Improved email verification
  pydash/config.py
  pydash/mail_templates/verification_html.txt
  pydash/mail_templates/verification_plain.txt
  pydash/pydash_app/__init__.py
  pydash/pydash_app/user/repository.py
  pydash/pydash_app/user/services/pruning.py
  pydash/pydash_app/user/verification_code.py
  pydash/pydash_mail/templates.py
  pydash/pydash_web/controller/register_user.py
Labels: back-end, enhancement

#387 Remove periodic fetching tasks for deleted dashboards/users
  pydash/pydash_app/dashboard/services/fetching.py
  pydash/pydash_web/controller/delete_dashboard.py
  pydash/pydash_web/controller/delete_user.py
Labels: back-end, bug

#388 Backend/aggregator group
  pydash/pydash_app/dashboard/aggregator/__init__.py
  pydash/pydash_app/dashboard/aggregator/aggregator_group.py
  pydash/pydash_app/dashboard/aggregator/statistics.py
Labels: back-end

#390 visitor_heatmap bug fix
  pydash/pydash_web/controller/visitor_heatmap.py
Labels: bug

#391 Fix aggregator_group doctest
  pydash/pydash_app/dashboard/aggregator/aggregator_group.py
Labels: back-end, bug

#392 Frontend/dashboard settings
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
  pydash/pydash_web/controller/change_dashboard_settings.py
Labels: front-end

#394 Removed endpoint execution times table
  pydash-front/src/authenticated_app/dashboard/statistics_page/ExecutionTimesTable.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
Labels: front-end

#395 Changed settingspage header to be consistent in style with other pages
  pydash-front/src/authenticated_app/settings/SettingsPage.js
Labels: front-end

#407 Snackbar notifier
  pydash-front/src/App.js
  pydash-front/src/Notifier.js
  pydash-front/src/authenticated_app/settings/SettingsPage.js
  pydash-front/src/authenticated_app/user_interface/Logout.js
  pydash-front/src/login/LoginPage.js
  pydash-front/src/registration/RegistrationPage.js
Labels: bug, enhancement, front-end

#417 Restores dashboard creation
  pydash-front/src/authenticated_app/overview/AddDashboardDialog.js
Labels: bug, front-end

#416 Backend/dashboard routes
  pydash/Pipfile
  pydash/Pipfile.lock
  pydash/pydash_app/dashboard/aggregator/aggregator_group.py
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_web/controller/dashboards.py
Labels: back-end

#398 Backend/change user mail
  pydash/Pipfile
  pydash/Pipfile.lock
  pydash/pydash_app/dashboard/entity.py
  pydash/pydash_app/user/__init__.py
  pydash/pydash_app/user/entity.py
  pydash/pydash_app/user/repository.py
  pydash/pydash_app/user/services/seeding.py
  pydash/pydash_web/controller/change_settings.py
  pydash/pydash_web/controller/register_user.py
  pydash/tests/features/test_sign_in.py
Labels: back-end, enhancement

#414 Frontend/makes endpoint names links
  pydash-front/src/authenticated_app/endpoint/EndpointsTable.js
Labels: enhancement, front-end

#393 Adds heatmaps of visitors and unique panels
  pydash-front/package.json
  pydash-front/src/authenticated_app/dashboard/statistics_page/StatisticsPage.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/UniqueVisitorsHeatmapPanel.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/VisitorsHeatmapGraph.js
  pydash-front/src/authenticated_app/dashboard/statistics_page/VisitorsHeatmapPanel.js
  pydash-front/src/utils.js
  pydash-front/yarn.lock
Labels: front-end

#408 Frontend/dashboard red
  pydash-front/src/authenticated_app/overview/AddDashboardDialog.js
  pydash-front/src/registration/RegistrationPage.js
Labels: front-end

#420 Meta monitoring
  .gitignore
  build_and_run.sh
  pydash/Pipfile
  pydash/Pipfile.lock
  pydash/fmd_config.cfg
  pydash/pydash_web/__init__.py
  pydash/start_pipenv.sh
Labels: back-end, enhancement, front-end

#422 Docsu
  docs/timetracking/s2507803-Lars Doorenbos.md
  docs/timetracking/s2534657-Jeroen Langhorst.md
  docs/timetracking/s2701650-Tom Apol.md
  docs/timetracking/s2776278-Wiebe-Marten.md
  docs/timetracking/s3163962-Arjan Tilstra.md
  docs/timetracking/s3167895-Koen Bolhuis.md
  docs/timetracking/s3541843-Alberto.md
Labels: documentation

#418 Uses actual data instead of mock data for endpoint execution times
  pydash-front/src/authenticated_app/dashboard/statistics_page/EndpointExecutionTimesPanel.js
Labels: front-end

#397 Back button & correct fields red on registration
  pydash-front/src/registration/RegistrationPage.js
Labels: front-end
